/Calc_snr_diff.py
/Fourier_axpox.py
/Fourier_fit_20keV_10um.png
/I_ref_2D.png
/I_ref_2D_pixel_wrong.pdf
/I_tumor_2D.png
/I_tumor_test.png
/__pycache__
/calc_sdnr.py
/calc_sdnr_2D.py
/cnr_vs_photons_mean.csv
/cnr_vs_photons_mean_centre_section_12cm.csv
/cnr_vs_photons_total_phi.csv
/cnr_vs_photons_total_phi_centre_section_12cm.csv
/cosine_fit_1d_images_new_1.pdf
/cosine_fit_1d_images_new_2.pdf
/cosine_fit_segments_new_1.csv
/cosine_fit_segments_new_2.csv
/detector.py
/diff_phi_tumor_vs_diameter.csv
/exposure_times_sdnr5.csv
/get_intensities.py
/grating.py
/intensity_tumor_background_20keV_all_sizes.csv
/intensity_tumor_background_60keV_all_sizes.csv
/intensity_tumor_background_60keV_all_sizes_small_samp.csv
/intensity_tumor_background_60keV_all_sizes_talbot3.csv
/intensity_tumor_background_60keV_all_sizes_talbot3_large_sizes.csv
/intensity_tumor_background_60keV_all_sizes_talbot3_large_sizes_onlyabsorb.csv
/intensity_tumor_background_60keV_all_sizes_talbot3_large_sizes_withabsorb.csv
/intensity_tumor_background_60keV_test.csv
/main.py
/mean_tumor_vs_diameter.csv
/mu_delta_vs_energy_absolute.png
/mu_delta_vs_energy_relative.png
/parameter.py
/phi_tumor_2D.png
/photons_vs_sdnr_three_signals_by_lesion.pdf
/photons_vs_sdnr_three_signals_by_lesion_corrected.pdf
/plot_photons_sdnr.py
/plot_sdnr.py
/plotting.py
/propagator.py
/sample.py
/sample_2d.png
/save_phase_retrieve.py
/sdnr_20keV_microCT_threshold_crossings_5.csv
/sdnr_60keV_fullCT_threshold_crossings_5_12cm.csv
/sdnr_60keV_fullCT_threshold_crossings_5_2D_pixel_12cm.csv
/sdnr_60keV_fullCT_threshold_crossings_5_500um.csv
/sdnr_60keV_fullCT_threshold_crossings_5_5cm.csv
/sdnr_60keV_fullCT_threshold_crossings_5_5mm.csv
/sdnr_60keV_fullCT_threshold_crossings_5_mean_217.csv
/sdnr_60keV_fullCT_threshold_crossings_5_mean_217_corrected.csv
/sdnr_60keV_fullCT_threshold_crossings_5_mean_abs_only_217.csv
/sdnr_60keV_fullCT_threshold_crossings_5_mean_abs_only_v2_217.csv
/sdnr_60keV_fullCT_threshold_crossings_5_mean_phi_total_v2_217.csv
/sdnr_60keV_fullCT_threshold_crossings_5_phi_217.csv
/sdnr_60keV_fullCT_threshold_crossings_5_phi_217_corrected.csv
/sdnr_60keV_fullCT_threshold_crossings_5_phi_total_217.csv
/sdnr_60keV_fullCT_threshold_crossings_5_phi_total_217_corrected.csv
/sdnr_results_20keV_all_sizes.csv
/sdnr_results_60keV_all_sizes_2D_pixel_5x5um.csv
/sdnr_results_60keV_all_sizes_no_scaling.csv
/sdnr_results_60keV_all_sizes_scaled_12cm.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_mean.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_mean_corrected.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_mean_only_abs.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_mean_only_abs_v2.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_mean_reg.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_phi.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_phi_corrected.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_phi_total.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_phi_total_corrected.csv
/sdnr_results_60keV_all_sizes_scaled_12cm_2D_pixel_large_samples_217_total_phase_only_phase_v2.csv
/sdnr_results_60keV_all_sizes_scaled_2D_pixel.csv
/sdnr_results_60keV_all_sizes_scaled_5cm.csv
/sdnr_results_60keV_all_sizes_scaled_5cm_2D_pixel.csv
/sdnr_results_60keV_all_sizes_small_samp.csv
/sim_param.csv
/size_vs_photons_sdnr5.png
/size_vs_photons_sdnr5_20keV.pdf
/size_vs_photons_sdnr5_60keV.pdf
/size_vs_photons_sdnr5_60keV_2D_pixel.pdf
/size_vs_photons_sdnr5_60keV_2D_pixel_217.pdf
/size_vs_photons_sdnr5_60keV_2D_pixel_217_corrected.pdf
/size_vs_photons_sdnr5_comparison_60keV.pdf
/size_vs_photons_sdnr5_comparison_60keV_sample_sizes.pdf
/test_19.csv
/test_fourier.pdf
/test_fourier2.pdf
/test_fourier23.pdf
/test_fourier3.pdf
/test_fourier4.pdf
/test_fourier5.pdf
/test_intensities.png
/total_phi_tumor_vs_diameter.csv
/visibility_check.py